<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bird.bluebirdproject.mapper.OrderMapper">

    <!--  订单添加  -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order_info (user_id, line_id, play_date, quantity, price, status)
        VALUES (#{userId}, #{lineId}, #{playDate}, #{quantity}, #{price}, #{status})
    </insert>

    <!--  订单查询  -->
    <select id="selectMyOrders" resultType="com.bird.bluebirdproject.pojo.vo.MyOrderVO">
        SELECT
            o.id AS orderId,
            r.name AS lineName,
            r.image AS image,
            o.play_date AS playDate,
            o.quantity AS quantity,
            o.price AS price,
            o.status AS status
        FROM order_info o
        LEFT JOIN route_line r ON o.line_id = r.id
        WHERE o.user_id = #{userId}
        ORDER BY o.id DESC
    </select>

    <!--  订单id查询  -->
    <select id="selectById" resultType="com.bird.bluebirdproject.pojo.entity.Order">
        SELECT * FROM order_info WHERE id = #{id}
    </select>

    <!--  订单状态更新  -->
    <update id="updateStatus">
        UPDATE order_info
        SET status = #{status}
        WHERE id = #{id}
    </update>

</mapper>